<div class="container" style="min-height:80vh;">
    <div class="main" style="padding:40px 0 40px 0;">
        <h3><%=t 'text.notifications.my_notifications' %></h3>
        <div class="all-notifications">
          <ul class="all-list-notifications">
            <% if @my_messages.present? %>
              <%= render partial: 'messages/messages_list', locals: {messages: @my_messages} %>
            <% else %>
              <li style="width:370px;padding-left:10px;"><%=t 'text.notifications.no_notifcations' %> <i class="em em-smile" style="margin-bottom:5px;"></i></li>
            <% end %>
          </ul>
        </div>
    </div>
</div>