<div class="section" style="min-height:83vh;">
    <div class="container" style="max-width:768px;">
        <%= link_to t("text.back"), :back, { class: "btn btn-primary", style: "margin-bottom: 10px;" } %>
        <%= render partial: 'posts/post', locals: { post: @post } %>
    </div>
</div>