<footer class="footer footer-demo section-dark qt-eng">
  <div class="container section-dark">
    <nav class="pull-left">
        <ul>
          <li >
            <span class="qt-eng"><i class="fa fa-envelope fa-1" aria-hidden="true"></i> qtnote.help@gmail.com</span>
          </li>
          <li >
            <a class="qt-eng" href="http://blog.naver.com" target="_blank">Blog</a>
          </li>
        </ul>
    </nav>
    <div class="copyright pull-right qt-eng">
        © 2016, made with <i class="fa fa-heart heart"></i> by Harim Kim
    </div>
  </div>
</footer>